body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #131313;
}

@font-face {
    font-family: 'QUAKE2';
    src: url(../fonts/FontsFree-Net-quake2.ttf);
    font-style: normal;
}

.article p {
    font-size: 20px;
}

.article span {
    padding: 0 14px;
    padding-top: 11px;
    padding-bottom: 4px;
    text-transform: uppercase;
    background: red;
    text-shadow: 2px 2px 2px #000;
    text-shadow: 1px, 1px, 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.article h2 {
    border-bottom: 1px solid #ececec;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 236, 236);
}

footer a {
    text-decoration: none;
    color: #c22e2e;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

.logo h4 {
    font-family: "QUAKE2", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 40px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    margin-top: 0px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

footer a:hover {
    opacity: .5;
    transition: 0.3s;
}

nav a {
    display: block;
    transition: 0.4s;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300px;
}

.main {
    margin: 20px;
}

.wrapper .article {
    padding: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.article article {
    font-size: 10px;
}

.footerbanner {
    height: 400px;
    text-align: center;
    background-image: url("../img/footerbanner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footerbanner p a {
    transition: 0.3s;
    text-decoration: none;
    color: #c22e2e;
}

.footerbanner p a:hover {
    transition: 0.3s;
    color: white;
}

.footerbanner p {
    position: relative;
    top: 180px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

footer p {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgba(203, 203, 203, .5);
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.nav {
    margin-top: 0;
    margin-bottom: 0;
    transition: all ease .5s;
}

.menu-fixed {
    position: fixed;
    z-index: 100000;
    top: 0;
    width: 100%;
    transition: 0.2s;
    background: red;
    font-family: "Roboto", sans-serif;
}

.menu {
    position: relative;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
    transition: 0.2s;
    font-family: "Roboto", sans-serif;
}

li a {
    padding: 14px 16px;
    text-shadow: 2px 2px 2px #000;
}

.nav-links>li {
    float: left;
}

.nav-links li ul {
    position: absolute;
    display: none;
    min-width: 140px;
    color: white;
    background: black;
}

.nav-links li:hover>ul {
    display: block;
}

.nav-links>li:hover {
    color: red;
    background-color: black;
}

.nav-links>li:hover a {
    color: red;
    background: black;
}

.nav-links li:hover ul a {
    color: white;
}

.nav-links li:hover ul li a:hover {
    color: red;
}

.banner {
    width: 100%;
    height: 350px;
    background: url("../img/banner.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.banner h1 {
    width: 85%;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-family: "QUAKE2", sans-serif;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 10vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.banner div {
    justify-content: center;
    width: 85%;
    border-top: 2px solid white;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.banner p {
    width: 85%;
    text-align: center;
    margin: 0;
    font-family: "QUAKE2", sans-serif;
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 2vh;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width:1139px) {
    .banner p {
        width: 85%;
        text-align: center;
        margin: 0;
        font-family: "QUAKE2", sans-serif;
        color: white;
        letter-spacing: 5px;
        font-weight: bold;
        font-size: 2vh;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .banner div {
        justify-content: center;
        width: 85%;
        border-top: 2px solid white;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.sidebar-right {
    height: 1800px;
    width: 340px;
    float: right;
    position: relative;
    top: 60px;
    right: 40px;
}

.videos {
    position: relative;
    left: 100px;
    width: 540px;
    margin: 20px 50px;
    color: rgba(105, 105, 105, .7);
    font-family: "Montserrat";
    font-size: 15px;
    decoration: none;
}

.picks {
    z-index: 1000;
    top: 100px;
    position: sticky;
    -webkit-position: sticky;
    height: 300px;
    font-size: 14px;
    justify-content: center;
}

.picks span {
    position: relative;
    bottom: 7px;
    padding: 11px;
    text-transform: uppercase;
    color: black;
    background: red;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.picks h3 {
    border-bottom: 1px solid #ececec;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 236, 236);
}

.picks a {
    display: block;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(236, 236, 236, .1);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.picks a:hover {
    color: red;
}

.footersocials {
    position: relative;
    top: 210px;
}

.fa {
    display: inline-block;
    width: 30px;
    padding: 10px;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.footersocials>.fa {
    margin-right: 0;
}

.footersocials .fa:hover {
    position: relative;
    -webkit-transform: scale(1.8);
    color: rgba(255, 0, 0, .7);
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-steam {
    color: white;
}

.fa-twitch {
    color: white;
}

form.buscar input[type=text] {
    transition: 0.3s;
    padding: 14px 14px 15px;
    font-size: 15px;
    border: 1px black;
    float: right;
    background: #c22e2e;
    width: auto;
}

form.buscar button {
    border: 1px solid black;
    float: right;
    padding: 5px 14px;
    margin-right: 0px;
    background: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

form.buscar button:hover {
    opacity: .7;
    transition: 0.3s;
}

form.buscar::after {
    content: "";
    clear: both;
    display: table;
}

.picks .steamdoom {
    background: url(../img/doom.png) no-repeat;
    background-size: cover;
}

.picks .rapha {
    background: url(../img/rapha.png) no-repeat;
    background-size: cover;
}

.picks .quakeisometric {
    background: url(../img/quakeisometric.png) no-repeat;
    background-size: cover;
}

.picks .proliga {
    background: url(../img/proliga.png) no-repeat;
    background-size: cover;
}

.picks .quake2rtx {
    background: url(../img/quake2rtx.png) no-repeat;
    background-size: cover;
}

.picks .doompago {
    background: url(../img/doompago.png) no-repeat;
    background-size: cover;
}
